.smallCard-containeer {
    box-sizing: border-box;
    width: 450px;
    border: 2px solid goldenrod;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-top: 5px;
  
    margin-bottom: 5px;
  }
  
  
  
  .backWeb:hover {
    box-shadow: 0px 5px 4px red;
    text-shadow: 2px 2px gray;
  
  }
  .backWeb{
  padding: 10px;
  display: inline-block;
    padding: 5px 25px;
    font-size: 24px;
    background-color: black;
    color: white;
    font-weight: 800;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  .header2Parent{
        border-bottom: 1px solid rgb(228, 34, 34);
          width: 80vw;
          margin-left: 150px;
          position: fixed;
          z-index: 1;
          align-self: center;
          box-shadow: 0px 2px 1px rgb(236, 210, 207);
          background: white;
  }
  .small-social {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    padding: 10px 0px 10px 40px;
    justify-content: space-between;
  }
  
  .details-parent {
    text-align: start;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -8px;
    height: 1000px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0px;
  }
  .data1-singlepage {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    text-align: start;
    margin-top: 10%;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
  }
  .smallcard-userdata {
    display: flex;
    flex-direction: column;
  }
  .singlepage-img {
    height: 450px;
    width: 450px;
  }
  .bg {
    background-size: cover;
    background-position: center;
    margin: 1px;
    box-sizing: border-box;
  }
  .smallcard-img1 {
    height: 24px;
    background-size: cover;
    background-position: center;
    margin: 1px;
    width: 24px;
  }
  .smallcard-persion-img {
    height: 64px;
    width: 64px;
  }
  .smallcard-parent {
    display: flex;
    align-items: center;
  }
  .smallcard-userdata {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    box-sizing: border-box;
  
    padding: 30px 5px 10px 5px;
  }
  .h5 {
    font-weight: 900;
    font-size: large;
  }
  .fixed-parent {
    height: 70px;
    width: 180px;
    position: fixed;
    top: 60vh;
    z-index: -100;
    background-color: white;
    align-items: center;
    left: 15%;
  }
  
  .fixed-sub {
    display: flex;
    margin: 5px;
  
    text-align: center;
  }
  .fixed-img {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
  .language {
    display: flex;
    height: 60px;
    align-self: flex-start;
    box-sizing: border-box;
  }
  .bt-language {
    padding: 4px 6px;
    background-color: rgb(202, 190, 190);
    margin: 8px;
    border: 0px solid grey;
  }
  .heading {
      color: black;
        font-weight: 900;
        margin-top: 320px;
      }
  .fixed-text {
    padding-top: 7px;
    margin-left: 10px;
  }
  .clap-counts {
    align-self: flex-start;
  }
  .write-name {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  .write-data {
    padding-top: 15px;
    margin: 0px;
  }
  .more-serin {
    /* overflow-x: hidden; */
    box-sizing: border-box;
  
    z-index: 5;
  
    position: relative;
  
    background-color: yellowgreen;
    min-height: 700px;
    margin-top: 290px;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-around;
  }
  .more-heading {
    align-self: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-left: 150px;
  }
  .related {
    align-self: flex-start;
    margin-left: -200px;
    margin-bottom: 7px;
  }
  .more-one {
    box-sizing: border-box;
    width: 98vw;
    display: flex;
    padding: 0px 10vw;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .more-dev {
    border: 0px solid red;
    width: 100%;
    padding-left: 20px;
  }
  .more-main-title {
    align-self: flex-start;
  }
  .more-parent {
    display: flex;
  }
  .goBack{
    display: none;
  }
  .footer-parent{
    margin-top: 250px;
    width: 99.5%;
    margin-left: 1px;
    background-color: teal;
}
  @media (min-width: 270px) and (max-width: 580px) {
    * {
      box-sizing: border-box;
    }
    .footer-parent{
      
          position: relative;
    /* bottom: 100vh; */
    top:-7500px;
    }
  .header2Parent {
        width: 100%;
          align-items: center;
          margin: 0px;
          position: fixed;
          margin-top: 200px;
          height: 113px;
          padding: 0px;
          background: white;}
  .head2{
    margin-left: -50px;
    margin-bottom: -25px;
  }
  .started{
    margin-bottom: -18px;
          /* margin-bottom: -18px; */
            /* margin-bottom: -25px; */
            margin-top: 30px;
            box-sizing: border-box;
            padding: 5px;}
    .details-parent {
      width: 90vw;
      height: 1100px;
      margin-top: -155px;
    
      padding: 4px;
      margin-left: 10px;
    }
    .get{
      left: 67%;
      height: 30px;
      width: 21%;
      bottom: 17%;
    }
    .latest-card1 {
      margin-top: 5px;
    }
  
    .smallCard-containeer {
      width: 95vw;
      border: none;
      flex-direction: column-reverse;
      justify-content: space-around;
      margin-top: 50px;
      align-self: flex-end;
      margin-right: -50px;
    }
    .fixed-parent {
      display: none;
      position: static;
    }
  
    .heading {
        margin-top:584px;
      width: 90vw;
      margin-bottom: -10px;
      font-size: 1.6em;
    }
    .small-social {
      display: flex;
      box-sizing: border-box;
      height: 80px;
      width: 120px;
      margin-left: -50px;
      padding: 10px 0px 10px 0px;
      justify-content: space-between;
    }
    .fixed-res {
      position: static;
      display: none;
    }
  
    .singlepage-img {
      height: 300px;
      width: 350px;
      margin-right: -10px;
    }
    .details-des {
      width: 80vw;
      padding: 10px;
    }
    .more-one {
      display: flex;
      flex-direction: column;
      height: 350px;
      background-color:lavender;
      box-sizing: border-box;
    
    }
    .more-serin{
      background-color: lavender;
    }
    .res-more-seren-dev {
      display: none;
    }
    .language {
      display: flex;
      height: 60px;
      align-self: center;
      box-sizing: border-box;
    }
    .fixed-sub {
      display: flex;
      margin: 5px;
      justify-content: flex-start;
      text-align: left;
      margin-left: -70px;
    }
    .smallcard-parent {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      margin-top: -20px;
    }
    .hides {
      display: none;
    }
    .writer-respo {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      margin-left: -100px;
      margin-top: -30px;
    }
    .res-diveder {
      border: 5px solid red;
    }
    .more-serin {
      position: static;
      margin-top: 150px;
      margin-left: -5px;
    }.more-heading{
      margin-left: 10px;
      margin-top: 240px;
    }
    .related{
      margin: 0px;
      padding: 0px;
      margin-left: -150px;
    }
    
    .goBack{
      display: inline-block;
      padding: 5px 25px;
      font-size: 24px;
      background-color: black;
      color: white;
      font-weight: 800;
     margin-bottom: 20px;
     border-radius: 5px;
     margin-top: 283%;
     margin-left: 25%;
  
  
    }
      .backWeb{
        display: none;
      }
    .goBack:hover{
  box-shadow: 0px 5px 4px red;
  text-shadow: 2px 2px gray;
  
    }
    
  }
  