.link{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: gray;
    margin-top: 30px;
    /* background-color: yellowgreen; */
    /* position: sticky;
    top: 80px; */
    /* width: 100%; */
    

}
.header{
    background-color:gray;
    position: sticky;
    top: 110px;
    margin: auto;

}
.headerweb{
    background-color:gray;
    position: sticky;
    top: 110px;
    margin: auto;
    width: 100%;
}
.the{
    background-color:lavender;
    position: fixed;
    top: 0px;
    height: 110px;
    width: 99%;
    z-index: 50;

}
.the2{
    background-color:lavender;
    position: fixed;
    top: 0px;
    height: 110px;
    width: 100%;
    /* position: relative;
    left: 10%; */
    /* margin-left: 10%; */
    box-shadow: 4px 4px gray;
    /* display: flex; */
    /* justify-content: left; */
    z-index: 50;
    
}
/* .head{
    background-color: yellowgreen;
} */
.text{
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin-top: 20px;
    font-weight: bold;
    /* background-color: yellowgreen; */
    /* position: sticky;
    top: 10px; */
    position: relative;
    top: 10px;
    color: black;
    
}
.text2{
    display: flex;
    justify-content: left;
    font-size: 3vw;
    margin-top: 20px;
    font-weight: bold;
    /* background-color: yellowgreen; */
    /* position: sticky;
    top: 10px; */
    position: relative;
    top: 10px;
    left: 5%;
}
.get{
    color: yellowgreen;
    border: 1px solid yellowgreen;
    height: 30px;
    width: 8%;
    text-align: center;
    position: relative;
    left: 85%;
    bottom: 30%;
}
.rotate{
    transform: rotate(-90deg);
    font-weight: normal;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.nav_div{
    width: 100vw;
    margin: auto;
    border-bottom: 2px solid gray;
    background-color: yellowgreens;
    /* position: sticky;
    top: 0; */
}
.nav_title{
    font-size: 27px;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.box{
    min-height: 200px;
    width: 40%;
    border: 1px solid gray;
    box-shadow: 5px 5px;
    margin-top: 20px;
    margin-left: 30%
    ;
    
  }
  /*  */


  .home-super-parent{
    width: 99%;
 
margin: 0px;
    padding: 0px;

}

.hFooter{
    /* margin-top: 250px; */
    width: 100%;
    /* margin-left: 1px; */
    background-color: teal;
}
.hFooter * {
    color: rgb(245, 250, 254) !important;
}

.left-card1{
 
    height: 20%;
    width: 30%;
    margin-left: 0.5%;

}

.home-first-card-containeer{
    display: flex;
    justify-content: space-around;
  
    height: 25%;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 120px 7.5%;
    padding-bottom: 0px;
   

}
.left-side{
   
height: 15%;
  
   width: 40%;
}
.right-side{
    height: 15%;
    display: flex;
    flex-direction: column;
 
}
.left-card1{
   
    height: 430px;
    width: 690px;
}
.left-card2{
    height: 210px;
    width: 350px;
}
.left-card3{
    height: 210px;
    margin-top: 10px;
    width: 350px;
}
.sub-title{
    writing-mode: sideways-lr;
    text-align: left;
    margin-left: 15%;
    font-size: 24px;
    font-weight: 900;
    /* margin-top: 300px; */
}
.sub-heading-hr{
    height: 3px;
    background-color: red;
    width: 5%;
  text-align: start;
  margin: -20px 15%;
}
.the-latest-parent{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 28px 15%;
}
.latest-one{

    height: 390px;
    width: 32%;
    box-sizing: border-box;
    
}
.latest-card1{
 height: 210px;
 width: 310px;
}
.travel-time{
    opacity: 30%;
}
.latest-Articles{
  height: 748px;
  box-sizing: border-box;
  width: 100%;
  padding: 28px 15%;
  display: flex;
  margin-top: 4px;
  justify-content: space-between;
}
.latest-Articles-parent{
    display: flex;
    flex-direction: column;

    height: 780px;
    box-sizing: border-box;
}
.articles-one{
    height: 230px;
    width: 90%;
    text-align: start;
    box-sizing: border-box;

}
.advatige{
    background-color:rgb(227, 160, 160) ;
    text-align: center;
    justify-content: center;
}
.advatige-text{
   margin: 320px 50px;
}
.articles-card1{
    height: 180px;
    width: 40%;
    background-color: rgb(3, 48, 33);
}
.Articles-hr{
    height: 2px;
    width: 100%;
}
.article-image-details-parent{
    display: flex;
    width: 800px;
    box-sizing: border-box;
}
.article-image-details{
    display: flex;
    width: 400px;
    height: 100%;
    margin-left: 2%;
    flex-direction: column;
    box-sizing: border-box;
}
.top-post{
    height: 600px;
    width: 100px;
    box-sizing: border-box;
    width: 100%;
    padding: 28px 15%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.top-post-card1{
    height: 600px;
    padding-top: 240px;
    width: 700px;
}
.top-post-details-parent{

    box-sizing: border-box;
  
    width: 260px;
    text-align: left;
    height: 590px;
    margin-left: 12%;
}
.top-post-hr{
    width: 40px;
   margin-top: -10px;
    margin-left: 5px;
}
.top-post-con{
    width: 100%;
   
}
.top-post-card2{
height: 100px;
width: 100%;
}
.top-post-one-data{
    width: 100%;
    padding-top: 30px;
    text-align: left;
}
.top-post-data1{
display: flex;
justify-content: space-between;
}
.top-post-count{
font-size: 32px;
margin-right: 10px;
text-align: center;
opacity: 20%;
padding-right: 20px;
}
.top-posrt-sub-con1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
}
.top-post-sub1-card1{
    height: 100px;
    width: 80px;
}
.top-post-title1{
    text-align: left;
    
    margin-left: -1px;
}
.top-post-titlefood{
    text-align: left;
    
    margin-left: -1px;
}
.top-post-titlefit{
    text-align: left;
    
    margin-left: -1px;
}
.top-post-titlehome{
    text-align: left;
    margin-left: -1px;
}
.top-post-titlehome1{
    text-align: left;
    margin-left: -1px;
}
.top-posrt-sub-con2{
width: 100%;
border: 1px solid black;
height: auto;
}
.top-post-divider3{
    width: 100%;
    margin-top: -260px;
}
.top-post-divider2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.top-post-divider3{
 
    margin-bottom: 15px;
}
.latest-story-details-parent{
    height: 200px;

    box-sizing: border-box;
    width: 100%;
    padding: 28px 15%;
margin-top: 250px;
    margin-bottom: 10px;
}
.latest-stories-divider{
    margin-top: 35px;
}
.the-Stories-parent{
    width: 100%;
    padding: 2px 0.1%;
    /* margin-top: 200px; */
}
.latest-stories-divider-last{
    margin-top:-200px;
}
.hrNone{
    display: none;
}
.none:focus{
    color: rgb(241, 127, 127);
}
.humber{
    display: none;
}


@media (min-width:270px) and (max-width:580px) {
    .home-first-card-containeer{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        box-sizing: border-box;
        margin-top: 4px;
        padding: 2px 1%;
        width: 90%;
        overflow-x: hidden;
   
    }
    
    .headerweb{
display: none;
    }
    .humber{
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-top: -30px;
        margin-left: 70%;
        z-index: 50;
    }
    .hummenu{
        height: 40px;
        width: 40px;
        margin-top: -30px;
        margin-left: 120%;
    }
    .text2{
        font-size: 8vw;
    }
    .text{
        position: relative;
        left: -30%;
    }
    .the{
        /* margin-left: -10%; */
        width: 100%;
        position: fixed;
    top: 0px;
    }
    .header{
    
        background-color:gray;
        position: sticky;
        top: 110px;
        margin: auto;

}
    .link{
        flex-direction: column;
        align-items: center;
    }
    .text{
        font-size: 7vw;
    }
        .hFooter {
            margin-top: -7300px;
        }
    .left-card1{
        height: 300px;
     width: 370px;
     margin-top: 80px;
   
    }
    .left-card2{
       display: none;
    }
    .left-card3{
    display: none;
    }
    .the-latest-parent{
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        flex-direction: column;
        margin-top: 4px;
        text-align: center;
       margin-left: -8%;
    }
    .sub-title{
        writing-mode: sideways-lr;
        text-align: left;
        margin-left: 3%;
        font-size: 24px;
        font-weight: 900;
    }
    .sub-heading-hr{
        height: 3px;
        background-color: red;
        width: 15%;
        margin-left: 20px;
      text-align: start;
    
    }
    .latest-one{
      
        height: 390px;
        width: 100%;
        margin: 10px;
        box-sizing: border-box;
        
    }
    .latest-Articles-parent{
        display: flex;
        width: 300px;
      
        box-sizing: border-box;
    }
    .article-image-details-parent{
        flex-direction: column;
        height: 1800px;
        margin: 10px;
        width: 250px;
        box-sizing: border-box;
    }
    .home-first-card-containeer{
        padding: 5px;
        box-sizing: border-box;
    }
    .articles-one{

       height: 570px;
    }.advatige{
        display: none;
    }.advatige-text{
        display: none;
    }
    .sub-title{
        margin-left: 50px;
        /* margin-top: 100px; */
    }.sub-heading-hr{
        margin-left: 50px;
    }
    .latest-card1{
        width: 250px;
    }
    .article-image-details{
        width: 250px;
    }

    .top-post{
        margin-top: 1120px;
        flex-direction: column;
    }
    .top-post-parent{
        display: none;
    }
    .top-post-title1,.top-post-hr{
       margin-left: 5px;
    }
    .top-post-title1{
        margin-top: 4900px;
    }
    .top-post-titlefood{
        margin-left: 5px;
        margin-top: 7302px;
    }
    .top-post-titlefit{
        margin-top: 2950px;
        margin-left: 5px;
    }
    .top-post-titlehome{
        margin-left: 5px;
        margin-top: 000px;
    }
    .top-post-titlehome1{
        margin-left: 5px;
        margin-top: 50px;
    }
    
    .top-post-one-data{
        box-sizing: border-box;
      
    }.top-posrt-sub-con2{
      width: 270px;
      box-sizing: border-box;
    }
    .story1{
        height: 200px;
    }
    .hrNone{
        display: inline-block;
    }
    .top-post-details-parent {
            margin-top: 120px;
                margin-left: 0px;
        }
        .latest-story-details-parent{
            margin-top: 110px;
        }
} 
h3{
    color: black;
    text-decoration: none;
}
h5{
    color: black;
}
NavLink{
    text-decoration: none;
}
.Food-parent{
    box-sizing: border-box;
    width: 100%;
    margin-top: 80px;
    padding: 28px 15%;
    height: 500px;


    padding-left: 100px;

display: flex;
justify-content: space-between;
}
.TechFooter {
    margin-top: 230%;
    width: 99%;
    margin-left: 1px;
    background-color: teal;
}

.TechFooter * {
  color: rgb(245, 250, 254) !important;
}

.BollyFooter {
  /* margin-top: 230%; */
  width: 99%;
  margin-left: 1px;
  background-color: teal;
}
.food_footer{
    margin-top: 300%;
  width: 99%;
  margin-left: 1px;
  background-color: teal;
}

.BollyFooter * {
  color: rgb(245, 250, 254) !important;
}
.HollyFooter {
    margin-top: 230%;
    width: 99%;
    margin-left: 1px;
    background-color: teal;
}

.HollyFooter * {
  color: rgb(245, 250, 254) !important;
}

.BiharFooter {
    margin-top: 230%;
    width: 99%;
    margin-left: 1px;
    background-color: teal;
}

.BiharFooter * {
  color: rgb(245, 250, 254) !important;
}
.FFooter {
    margin-top: 230%;
    width: 99%;
    margin-left: 1px;
    background-color: teal;
}

.FFooter * {
  color: rgb(245, 250, 254) !important;
}
.Food-containeer{
    width: 75%;
    box-sizing: border-box;
 
}
.food-top-post-containeer{
    width: 39%;
  

}
.the-latest-food-parent{
    padding: 28px 15%;
    display: flex;
    box-sizing: border-box;

}
.latest-food1{
margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}
.Food-hr{
    width: 250%;
}
.advatige-Food{
 
    height: 590px;
 
    border: 2px solid red;
}

@media (min-width:270px) and (max-width:580px) {
    .Food-parent{
        flex-direction: column;
        width: 350px;
        margin: -5%;
    margin-top: 30%;
        box-sizing: border-box;
    
    }
    .FFooter{
      margin-top: 3220px;
    }
.BiharFooter {
  margin-top: 5100px;
}
.HollyFooter {
  margin-top: 3250px;
}

.BollyFooter {
  margin-top: 3250px;
}
.TechFooter {
  margin-top: 3250px;
}
.Food-containeer{
        width: 350px;
      margin-left: -100px;
      margin-top: -50px;
        padding: 0px;
       margin-bottom: 50px;
        box-sizing: border-box;
    }
  .Food-hr{
    width: 250px;
  }
  .articles-one{
    margin: 2px;
  }.article-image-details-parent{
    margin: 2px;
    height: 480px;
  }
  .food-tops{
    margin-top: 2080px;
      margin-left: -50px;
  }
     .bihar-top{
  margin-top: 4000px;
    margin-left: -50px;
     }    
      .foodfooter{
        margin-top: 10322px;
      }
}
.home1{
    text-decoration: none;
}

  